extends ../views/form/default-form

block append formConfig

  +formOptions({
    submitButtonName: "Activate Onify in Fortnox",
    hideBackButton: true
  })

block formContent

    //label: "Please describe the recurring problem",
    +formElement({
      name: "redirectURI",
      label: "Redirect URI",
      value: "http://localhost:2022",
      helpText: "If you are unsure of this, please contact Onify via [support@onify.co](mailto:support@onify.co)"
    })

    +formElement({
      name: "scopes",
      label: "Scopes",
      value: "invoice order article project salary costcenter payment offer price",
      helpText: "Please read more about scopes [here](https://developer.fortnox.se/general/scopes/)"
    })

    //https://developer.fortnox.se/general/authentication/
  
    +formElement({
      type: "runWorkflow",
      name: "activationUrl",
      buttonLabel: "Generate activation URL",
      workflow: "fortnox-generate-activation-url",
      timeout: 10,
      input: {
        redirectURI: "{redirectURI}",
        scopes: "{scopes}"
      }
    })

    +formElement({
      type: "simpleText",
      value: '',
      helpText: '<a href="{activationUrl}" target="_blank">Click here to autheticate and activate Onify in Fortnox</a>',
      visible: {
        ifField: "activationUrl",
        containsValue: true
      }
    })

    +formElement({
      name: "code",
      label: 'Authentication code',
      required: true,
      helpText: "First click on the activiation link and then copy the authentication code from the URL"
    })


